.seat-grid-container {
    width: 75%;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    height: 576px;
    margin-left: 75px;
}

.seat {
    cursor: pointer;
}

.table>:not(caption)>*>* {
    padding-left: 2px;
    border-bottom-width: 0px;
}
.screenImg{
    text-align: center;
    margin-top: 80px;
}